<mat-card>
  <mat-card-header>
    <h1>Update User Information</h1>
  </mat-card-header>

  <mat-card-content>
    <form class="updatingForm" [formGroup]="updateForm" (ngSubmit)="UserAccount($event)">
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input readonly matInput formControlName="id">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input type="e_mail" matInput formControlName="e_mail">
      </mat-form-field>

      <mat-form-field style="padding: 0" *ngIf="accessForComponent">
        <mat-label>Select user role</mat-label>
        <mat-select style="padding: 0" formControlName="role">
          <mat-option *ngFor="let role of roleList" [value]="role.code">{{role.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <span *ngIf="accessForComponent" for="userActive" class="userActionLabel"
             [class.red]="userActionLabelColor === 'red'"
             [class.green]="userActionLabelColor === 'green'"
             >{{this.userAction}}
      </span>

      <mat-slide-toggle *ngIf="accessForComponent" (change)="UserAction()" id="userActive" formControlName="isActive" color="accent"></mat-slide-toggle>

      <section class="controlButtons">
        <button type="submit" name="Update" mat-stroked-button color="primary">Update</button>
        <button *ngIf="accessForComponent" type="submit" name="Delete" mat-flat-button color="warn">Delete</button>
        <button mat-dialog-close  mat-stroked-button color="warn">Close</button>
      </section>

    </form>
  </mat-card-content>
</mat-card>
